@model TripRqst.Models.TripRequest

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TripRequest</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DataDoPedido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataDoPedido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Passageiro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Passageiro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MotivoCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MotivoCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MotivoName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MotivoName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Identificacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Identificacao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrigemPais)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrigemPais)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrigemCidade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrigemCidade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DestinoPais)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DestinoPais)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DestinoCidade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DestinoCidade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Partida)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Partida)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Chegada)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Chegada)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiasDeAntecedencia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiasDeAntecedencia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JustificacaoCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JustificacaoCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JustificacaoName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JustificacaoName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmailAnexo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmailAnexo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustoAviao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustoAviao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustoHotel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustoHotel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustoCarro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustoCarro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustoOutros)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustoOutros)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustoTotal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustoTotal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AlocacaoCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AlocacaoCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AlocacaoName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AlocacaoName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
