@model TripRqst.Models.TripRequest

@{
    //    Layout = "~/Views/Shared/_Layout2.cshtml";
    ViewBag.Title = "Details";
    //var ccc = (IEnumerable<SelectListItem>)ViewBag.Countries;
    System.Threading.Thread.CurrentThread.CurrentCulture = new System.Globalization.CultureInfo("pt-PT");
}




<!-- Page Header -->
<!--    <header class="masthead" style="background-image: url('img/planeseat.jpg')"> -->
<header class="masthead" style="background-image: url('../../Content/img/planeseat.jpg')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="page-heading">
                    <h1>Business Trip Request</h1>
                    <span class="subheading">Plan your business trip in advance.</span>
                </div>
            </div>
        </div>
    </div>
</header>



<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <p></p>


            @* Data do Pedido *@
            <div class="control-group">
                <div class="form-group floating-label-form-group controls floating-label-form-group-with-value">
                    <label>Data do Pedido</label>
                    <span>@Model.DataDoPedido.ToShortDateString()</span>
                </div>
            </div>

            <div class="control-group row">

                @* Passageiro *@
                <div class="col-8 form-group floating-label-form-group controls floating-label-form-group-with-value">
                    <label>Passageiro</label>
                    @Html.DisplayFor(model => model.Passageiro)
                </div>

                @* Identificação *@
                <div class="col-4 form-group floating-label-form-group controls floating-label-form-group-with-value">
                    <label>Identificação</label>
                    @Html.DisplayFor(model => model.Identificacao)
                </div>
            </div>



            @* Origem *@
            <!--<input id="OrigemCidade" placeholder="Origem" type="text" class="form-control" data-bind="value: OrigemCidade" />-->
            <div class="control-group">
                <div class="form-group floating-label-form-group controls floating-label-form-group-with-value">
                    <label>Origem</label>
                    <span>@Model.OrigemCidade</span>
                </div>
            </div>


            @* Destino *@
            <!--<input id="DestinoCidade" placeholder="Destino" type="text" class="form-control" data-bind="value: DestinoCidade" />-->
            <div class="control-group">
                <div class="form-group floating-label-form-group controls floating-label-form-group-with-value">
                    <label>Destino</label>
                    <span>@Model.DestinoCidade</span>
                </div>
            </div>

            @* Partida / Chegada *@
            <div class="row control-group">
                @* Partida *@
                <div class="form-group col-6 floating-label-form-group controls floating-label-form-group-with-value">
                    <label>Partida</label>
                    <span>@Model.Partida.ToShortDateString()</span>
                </div>
                @* Partida *@
                <div class="form-group col-6 floating-label-form-group controls floating-label-form-group-with-value">
                    <label>Chegada</label>
                    <span>@Model.Chegada.ToShortDateString()</span>
                </div>
            </div>

            @* labels *@
            <div class="row">
                <div class="col-4 ">
                    <label style="font-size:70%; color:grey;">@string.Format("{0}-{1} ({2}/{3} dias)", Model.OrigemPais, Model.DestinoPais, Model.DiasDeAntecedencia, Model.BookingAdvanceMin)</label>
                    <label style="font-size:70%;">
                        @if (Model.DiasDeAntecedencia < Model.BookingAdvanceMin)
                        {
                            <i class="fa fa-calendar-times-o" style="color:red"></i>
                        }
                        else
                        {
                            <i class="fa fa-calendar-check-o" style="color:green"></i>
                        }
                    </label>
                </div>
                <div class="col-8">
                    @* Justificacao *@
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls floating-label-form-group-with-value">
                            <label>Justificação</label>
                            <span>
                                @if (Model.EmailAnexo != null)
                                {
                                    <a href="file?filepath=@Model.EmailAnexo" class="text-right" data-toggle="tooltip" title="download @Path.GetFileName(Model.EmailAnexo)"><i id="mail_icon" class="fa fa-paperclip" style="opacity:1"></i></a>
                                }
                                @Model.JustificacaoName
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-4">
                    @* Alocacao *@
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls floating-label-form-group-with-value">
                            <label>Alocação</label>
                            <span>@Model.AlocacaoName</span>
                        </div>
                    </div>
                </div>
                <div class="col-8">
                    @* Motivo *@
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls floating-label-form-group-with-value">
                            <label>Motivo</label>
                            <span>@Model.MotivoName</span>
                        </div>
                    </div>
                </div>
            </div>

            @* Custos *@
            <div class="row">
                @* Aviao *@
                <div class="form-group col-3 floating-label-form-group controls floating-label-form-group-with-value">
                    <label>Avião</label>
                    <div class="input-group" style="font-size: 1.5em">
                        <span class="input-group-addon">€ </span>
                        <span>@Model.CustoAviao</span>
                    </div>
                </div>

                @* Hotel *@
                <div class="form-group col-3 floating-label-form-group controls floating-label-form-group-with-value">
                    <label>Hotel</label>
                    <div class="input-group" style="font-size: 1.5em">
                        <span class="input-group-addon">€ </span>
                        <span>@Model.CustoHotel</span>
                    </div>
                </div>


                @* Carro *@
                <div class="form-group col-3 floating-label-form-group controls floating-label-form-group-with-value">
                    <label>Carro</label>
                    <div class="input-group" style="font-size: 1.5em">
                        <span class="input-group-addon">€ </span>
                        <span>@Model.CustoCarro</span>
                    </div>
                </div>

                @* Total *@
                <div class="form-group col-3 floating-label-form-group controls floating-label-form-group-with-value">
                    <label>Total</label>
                    <div class="input-group  alert-primary" style="font-size: 1.5em">
                        <span class="input-group-addon">€ </span>
                        <span>@Model.CustoTotal</span>
                    </div>
                </div>
            </div>
            <br>

            <div class="row">
                @if(Model.RequireSignature1)
                {
                    <div class="form-group col-6 floating-label-form-group controls floating-label-form-group-with-value">
                        <label>Assinatura</label>
                        @if(Model.Signed1)
                        {
                        <span>@Model.Signature1User</span>
                        }
                        else
                        {
                        <span class="btn btn-danger btn-block"> <a href="file?filepath=@Model.Pdf" class="fa fa-pencil"></a> Assinar</span>
                        }
                    </div>
                }
                @if(Model.RequireSignature2)
                {
                    <div class="form-group col-6 floating-label-form-group controls floating-label-form-group-with-value">
                        <label>Assinatura</label>
                        @if (!Model.Signed2 && Model.Signed1)
                        {
                            <span class="btn btn-danger btn-block"> <a class="fa fa-pencil"></a> Assinar</span>
                        }
                        else
                        {
                            <span>@Model.Signature2User</span>
                        }
                    </div>
                }
            </div>

            </div>

    </div>
</div>
<hr>

@section Scripts {

}
